.ourGroupList{
  list-style-type: none;

}
table{
  margin: 0 auto; /* or margin: 0 auto 0 auto */
  max-width: 800px;
}
table, th, td {
  border: 1px solid black;
}

.field{
  width: 80%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}

.field:hover{
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.mainClass {
  text-align: center;
}
